.stepper-step-wrapper ::deep .stepper-step-main {
    background-color: var(--mud-palette-primary)!important;
    width: 80px;
    height: 18px;
    user-select: none;
    transition: transform 0.18s ease-out;
}

.stepper-step-wrapper ::deep .stepper-step-main:hover {
    transform: scale(1.05);
}

.stepper-step-wrapper ::deep .stepper-step-text {
    color: var(--mud-palette-text-primary)!important;
    text-align: center;
    font-size: small;
}