.barbers-container {
    min-height: calc(100dvh - var(--mud-appbar-height, 64px));
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 64px;
    flex-direction: row;
}

.barbers-container ::deep .barbers-grid,
.barbers-container ::deep .barbers-form {
    flex: 1 1 0;
    min-width: 0;
}

.barbers-container ::deep .barbers-grid {
    display: flex;
    flex-direction: column;
}

.barbers-container ::deep .barbers-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* TODO: research if I should be using "px", "em" or "rem" in the classes below */
.barbers-container ::deep .barbers-avatar {
    width: 15rem;
    height: 15rem;
    font-size: 5rem;
    margin-top: 2.5rem;
}

.barbers-container ::deep .barbers-name {
    font-size: 4rem;
    margin-top: 2rem;
}

.barbers-container ::deep .barbers-form-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 12px;
}



.barbers-container ::deep .barbers-form-chip {
    font-size: 16px;
    width: 6rem;
    user-select: none;
}

@media (max-width: 1200px) {
    .barbers-container {
        flex-direction: column;
    }

    .barbers-container ::deep .barbers-avatar {
        width: 8rem;
        height: 8rem;
        font-size: 2.5rem;
        margin-top: 1.25rem;
    }

    .barbers-container ::deep .barbers-name {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .barbers-container ::deep .barbers-form-button {
        font-size: 9px;
    }

    .barbers-container ::deep .barbers-form-chip {
        font-size: 12px;
        width: 5rem;
        height: 2rem;
        margin-bottom: 1rem;
    }
}