.appbar-container,
.appbar-navigation {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
}

.appbar-navigation {
    gap: 1rem;
    justify-content: end;
}

.appbar-navigation ::deep .mud-nav-item {
    width: auto!important;
}